<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnW-DA5O9kZjH1kjOlAmTN2H9UsqiFAss</string>
	<key>GCM_SENDER_ID</key>
	<string>812429010298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aait.Maak</string>
	<key>PROJECT_ID</key>
	<string>maak-97127</string>
	<key>STORAGE_BUCKET</key>
	<string>maak-97127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812429010298:ios:1855cdd6e31b26d35422c3</string>
</dict>
</plist>